       <!-- <ul>
          <li>
            <p><strong>Sensors</strong></p>
          </li>
          <li>
            <p>Time: <span id="time2"><%= data.updateTime %></span><br /></p>
            <p id="Movement" loading="eager">Movement: <%= data.movement %><br /></p>
            <p>Humidity: <%= data.humidity %>&percnt;<br /></p>
          </li>
          <li>
            <p><strong>Sensor Info:</strong></p>
          </li>
          <li>
            <p>Sensor: <%= data.sensName %> <br /></p>
            <p>Id: <%= data.id %> <br /></p> 
            <p>Hardware: <%= data.hardware %> <br /></p> 
            <p>Location: <%= data.location %><br /></p>
          </li>
          <li>
            <p><strong>Writted by:</strong></p>
            <p>Storm Rhyma</p>
          </li>
        </ul> -->